<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Filtrando elementos por categorias</title>

	<link rel="stylesheet" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

	<script src="js/jquery-3.2.1.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	
	<div class="wrap">
		<h1>Escoge un producto</h1>
		<div class="store-wrapper">
			<div class="category_list">
				<a href="#" class="category_item" category="all">Todo</a>
				<a href="#" class="category_item" category="ordenadores">Ordenadores</a>
				<a href="#" class="category_item" category="laptops">Laptops</a>
				<a href="#" class="category_item" category="smartphones">Smartphones</a>
				<a href="#" class="category_item" category="monitores">Monitores</a>
				<a href="#" class="category_item" category="audifonos">Audifonos</a>
			</div>
			<section class="products-list">
				<div class="product-item" category="laptops">
					<img src="/images/img-cafetera-moulinex.jpg" alt="" >
					<a href="#">Cafetera Moulinex</a>
				</div>
				<div class="product-item" category="laptops">
					<img src="/images/img-macbook-pro-2019.jpg" alt="" >
					<a href="#">Macbook pro-2019</a>
				</div>
				<div class="product-item" category="smartphones">
					<img src="/images/img-samsung-galaxy-s10.jpg" alt="" >
					<a href="#">Samsung Galaxy</a>
				</div>
				<div class="product-item" category="smartphones">
					<img src="/images/img-tv-samsung-smart.jpg" alt="" >
					<a href="#">Samsumg Smart TV</a>
				</div>
				<div class="product-item" category="ordenadores">
					<img src="/images/img-cafetera-moulinex.jpg" alt="" >
					<a href="#">Cafetera Moulinex</a>
				</div>
				<div class="product-item" category="ordenadores">
					<img src="/images/img-macbook-pro-2019.jpg" alt="" >
					<a href="#">Macbook pro-2019</a>
				</div>
				<div class="product-item" category="monitores">
					<img src="/images/img-samsung-galaxy-s10.jpg" alt="" >
					<a href="#">Samsung Galaxy</a>
				</div>
				<div class="product-item" category="audifonos">
					<img src="/images/img-tv-samsung-smart.jpg" alt="" >
					<a href="#">Samsumg Smart TV</a>
				</div>
			</section>
		</div>
	</div>

</body>
</html>