main.main-login{
    display:flex
}


/* TABLET */
@media (min-width: 361px) {
    .btn-login {
        padding: 5px 140px;     
    }
}
/* DESKTOP */
@media (min-width: 769px){
    .form-login div input {
        padding: 5px;
        width: 360px;
    }
    .btn-login {
        width: 360px;
        padding: 5px;
    
    }
}