*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a{
    color: #000;
}

header {
    background-color: #eac926;
}
header .logoHeader{
      text-align: center;
     margin-bottom: 20px;   
}
header .logoHeader img{
    width: 50%;
}
.busqueda input{
    width: 100%;
    height: 100%;
}
.burguer-menu {
    background-color: #1259c3;
    
    width: 50px;
    margin: auto;
    
    display: inline-block;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 30px;
}
.burguer {
    text-align: center;
}
.fa, .fas {
    font-weight: 900;
    /* margin-top: 3px; */
}
#lupa{
    position: absolute;
    margin-top: 3px;
}
/* footer */
.footercontainer{
   
    background-color: white;
    padding:20px;
    margin:15px;
    }
    
    .footercontainer-1, .copyright{
       
       margin: 20px;
       text-align: center;
    }
    
    .footercontainer-1 h3{
       font-size :18px;
       font-weight: bold;
    
    }
    .footercontainer-1 p{
       padding:12px ;
       font-size :12px;
    }
    
    .footercontainer-1 i {
        color: #1259c3;
    }